# Jupyter Notebook
.ipynb_checkpoints

# Projeto ignore
Netflix_SR_C1.ipynb
Netflix_SR_C1_teste.ipynb
dados/

#pdf
Hands-On Recommendation Systems with Python Start building powerful and personalized, recommendation engines with Python (Rounak Banik) (z-lib.org)

#py
appRecomendacao.py

#pastas
dados